body{
	margin:0px;
}

.main-flex{
	display:flex;
}
.left-align{
	display:flex;
	position:fixed;
	height:100vh;
	width:245px;
	 flex-direction: column;
	border-right:1px solid #dbdbdb;
}

.left-align h2{
	margin-left:12px;
	padding:13px;
}
.left-align a{
	
	text-decoration:none;
	color:black;
}

.nav-bar{
	margin-bottom:30px;
}

.nav-elements{
	display:flex;
}
.nav-bar li a, .menu button{
	margin:13px;
	display:flex;
	align-items:center;
	width:auto;
	padding:10px;
	font-size:20px;
}
.menu button {
  background-color: transparent;
  border: none;
  text-align: left; 
  padding-right:125px;
}
.menu{
	margin-left:5px;
}
.nav-bar ul{
	margin-left:0px;
	padding:0px;
}

.nav-bar li{
	margin:4px;
	list-style-type:none;
}



 li a:hover ,button:hover{
	background-color:#eeeeee;
	border-radius:5px;
	cursor:pointer;
}
img,i{
	padding-right:10px;
}
.nav-bar li{
	margin-bottom:13px;
}
.main-content{
	display:flex;
	margin-left:245px;
}
.center-content{
	width:670px;
}
.right-align{
	padding-left:64px;
	margin-top:8px;
	margin-left:auto;
	font-size:15px;
}
.right-align-top{
	display:flex;
	margin:30px;
	margin-bottom:0px;
}
.right-align img{
	font-size:35px;
}
.pfp a, .pfp-detail a{
	text-decoration:none;
	color: black;
}
.pfp-detail{
	display:flex;
	flex-direction:column;
}
.pfp-detail a{
	font-weight:bold;
}

.switch a{
	display:flex;
	color:blue;
	text-decoration:none;
	margin-left:90px;
	margin-top:8px;
}
.switch a:hover{
	color:black;
}
.right-content{
	display:flex;
	flex-direction:column;
}
.right-body{
	margin:14px 30px;
	display:flex;
	justify-content:space-between;
}
.right-body a{
	display:flex;
	color:black;
	text-decoration:none;
	margin-left:90px;
	margin-top:px;
}
.right-body a:hover{
	color:#aaaaaa;
}
.suggestions{
	display:flex;
	flex-direction:column;
}
.suggestions-list{
	display:flex;
	margin-left:30px;
	margin-bottom:20px;
}
.right-footer{
	margin-top:20px;
	margin-left:25px;
	display:flex;
	flex-direction:column;
}
.right-footer a{
	text-decoration:none;
	color:#c7c7c7;
}
.right-footer a:hover{
	text-decoration:underline;
}
.copyright{
	color:#c7c7c7;
	margin-top:20px;
}
.message-box{
	position:fixed;
	bottom:30px;
	right:40px;
	width:260px;
	font-size:10px;
	font-weight:bold;
	border-radius:50px;
	box-shadow:5px 5px 20px #cacad9;
	
}
.message-box a{
	margin:0px;
	padding:0px 40px;
	text-decoration:none;
	color:black;
	
}
.message-box:hover{
	background-color:#dfdfd0;
}
.messages{
	display:flex;
	justify-content:space-between;
}

.messages i{
	padding:0px 15px;
}

.story-section{
	display:flex;
	overflow:scroll;
	scrollbar-width: none;   
	margin-left:40px;
	margin-top:20px;
}
.story-bar{
	display:flex;
	flex-direction:column;
}

.story-bar a{
	color:black;
	text-decoration:none;
}
.story-bar a img{
	margin-right:5px;
}
.post-section{
	margin-left:120px;
	margin-right:85px;
	margin-top:30px;
}
.post-image{
	display:block;
	border-radius:2px;
	border: 1px solid grey;
	padding:0px;
	width:466px;
	height:auto;
}

.post-header{
	display:flex;
	justify-content:space-between;
}
.post-header a{
	text-decoration:none;
	color:black;
	padding-bottom:15px;
	font-weight:bold;
	font-size:18px;
}
.author{
	display:flex;
}

.reaction{
	display:flex;
	justify-content:space-between;
	margin-top:8px;
	padding:0px;
}
.react a{
	padding-right:10px;
}
.reaction i{
	font-size:20px;
	padding:0px;
}
.caption{
	padding:10px 0px;
}
.likes{
	font-size:18px; 
	font-weight:5;
}
.caption-content{
	font-size:17px; 
	padding-top:10px;
}
.authors{
	font-weight:bold;
}

.author-message{
	font-weight:200;
}
.Comment{
	color:grey;
	font-size:16px;
}
textarea{
	margin:5px 0px;
	border:none;
	width: 120px;
	resize: none;
	font-size:14px;
}
.comm{
	display:flex;
	justify-content:space-between;
}